{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "adam.lee@cupix.com",
      "name" : "Adam Lee"
    },
    "title" : "CupixWorks SDK",
    "version" : "1.11.1"
  },
  "servers" : [ {
    "url" : "https://api.cupix.works/api/v1"
  } ],
  "paths" : {
    "/annotation_layers" : {
      "get" : {
        "operationId" : "annotationlayer_get_annotation_layers",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Facility key",
          "explode" : true,
          "in" : "query",
          "name" : "facility_key",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerListResponse"
                }
              }
            },
            "description" : "AnnotationLayer list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "AnnotationLayer list",
        "tags" : [ "AnnotationLayer" ]
      },
      "post" : {
        "operationId" : "annotationlayer_create_annotation_layer",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateAnnotationLayerRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/mock" : {
      "get" : {
        "operationId" : "annotationlayer_mock_annotation_layers",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerListResponse"
                }
              }
            },
            "description" : "AnnotationLayer list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "AnnotationLayer mock list",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}" : {
      "delete" : {
        "operationId" : "annotationlayer_delete_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Delete AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      },
      "get" : {
        "operationId" : "annotationlayer_get_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      },
      "put" : {
        "operationId" : "annotationlayer_update_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateAnnotationLayerRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/associate_form_designs" : {
      "put" : {
        "operationId" : "annotation_layer_associate_form_design",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "FormDesign IDs",
          "explode" : false,
          "in" : "query",
          "name" : "form_design_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Associate annotation_layer with form design",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/clear_fields" : {
      "put" : {
        "operationId" : "annotationlayer_clear_fields",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "AnnotationLayer fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "description", "allowed_annotation_kind" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/deny" : {
      "put" : {
        "operationId" : "annotationlayer_deny_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ShareRequestBody"
        },
        "responses" : {
          "204" : {
            "description" : "Denied"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Deny AnnotationLayer with user or group",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/disassociate_form_designs" : {
      "put" : {
        "operationId" : "annotation_layer_disassociate_form_design",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "FormDesign IDs",
          "explode" : false,
          "in" : "query",
          "name" : "form_design_ids",
          "required" : true,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Disassociate annotation_layer with form design",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/members" : {
      "get" : {
        "operationId" : "annotationlayer_get_members",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Memeber display option",
          "explode" : true,
          "in" : "query",
          "name" : "display_option",
          "required" : true,
          "schema" : {
            "enum" : [ "directly", "directly-flatten", "inherited", "inherited-flatten", "all" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "User ID list",
          "explode" : false,
          "in" : "query",
          "name" : "user_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Group ID list",
          "explode" : false,
          "in" : "query",
          "name" : "group_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "minimum permission",
          "explode" : true,
          "in" : "query",
          "name" : "min_permission",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareListResponse"
                }
              }
            },
            "description" : "Shared memeber list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get annotation_layer members",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/meta" : {
      "get" : {
        "operationId" : "annotationlayer_get_meta",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get AnnotationLayer Meta",
        "tags" : [ "AnnotationLayer" ]
      },
      "put" : {
        "operationId" : "annotationlayer_update_meta",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateMetaRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update AnnotationLayer Meta",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/meta/{meta_key}" : {
      "get" : {
        "operationId" : "annotationlayer_get_meta_by_key",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Meta key",
          "explode" : false,
          "in" : "path",
          "name" : "meta_key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get AnnotationLayer Meta by key",
        "tags" : [ "AnnotationLayer" ]
      },
      "put" : {
        "operationId" : "annotationlayer_update_meta_by_key",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Meta key",
          "explode" : false,
          "in" : "path",
          "name" : "meta_key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateMetaRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update AnnotationLayer Meta by key",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/position" : {
      "put" : {
        "operationId" : "annotationlayer_update_position",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdatePositionRequestBody"
        },
        "responses" : {
          "204" : {
            "description" : "Position updated"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Annotation Layer Position",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/publish" : {
      "delete" : {
        "operationId" : "annotationlayer_unpublish_annotationlayer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Unpublish AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      },
      "put" : {
        "operationId" : "annotationlayer_publish_annotationlayer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Publish AnnotationLayer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/purge" : {
      "delete" : {
        "operationId" : "annotationlayer_purge_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Purged"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Purge annotation_layer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/share" : {
      "put" : {
        "operationId" : "annotationlayer_share_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ShareRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ShareListResponse"
                }
              }
            },
            "description" : "Shared memeber list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Share AnnotationLayer with user or group",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/trash" : {
      "put" : {
        "operationId" : "annotationlayer_trash_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Trashed"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Trash annotation_layer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/unshare" : {
      "put" : {
        "operationId" : "annotationlayer_unshare_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ShareRequestBody"
        },
        "responses" : {
          "204" : {
            "description" : "Unshared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Unshare AnnotationLayer with user or group",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/annotation_layers/{id}/untrash" : {
      "put" : {
        "description" : "Untrash trashed annotation_layer and return it.",
        "operationId" : "annotationlayer_untrash_annotation_layer",
        "parameters" : [ {
          "description" : "AnnotationLayer ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationLayerResponse"
                }
              }
            },
            "description" : "AnnotationLayer"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Untrash trashed annotation_layer",
        "tags" : [ "AnnotationLayer" ]
      }
    },
    "/authenticate" : {
      "post" : {
        "description" : "사용자 email, password, auth_param, refresh token 등을 이용하여 사용자를 인증한다.",
        "operationId" : "authenticate_authenticate",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/AuthenticateRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthenticateResponse"
                }
              }
            },
            "description" : "Authentication"
          },
          "401" : {
            "description" : "Unauthorized request"
          }
        },
        "summary" : "User Authentication",
        "tags" : [ "Authentication" ]
      }
    },
    "/captures" : {
      "get" : {
        "operationId" : "capture_get_captures",
        "parameters" : [ {
          "description" : "Record ID",
          "explode" : true,
          "in" : "query",
          "name" : "record_id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Capture IDs",
          "explode" : false,
          "in" : "query",
          "name" : "edit_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "User ID",
          "explode" : true,
          "in" : "query",
          "name" : "user_id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter",
          "explode" : false,
          "in" : "query",
          "name" : "filter",
          "required" : false,
          "schema" : {
            "items" : {
              "example" : "capture_id=1",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\n",
          "explode" : true,
          "in" : "query",
          "name" : "visibility",
          "required" : false,
          "schema" : {
            "enum" : [ "untrashed", "in_trash_by_parent" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureListResponse"
                }
              }
            },
            "description" : "Capture list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Capture list",
        "tags" : [ "Capture" ]
      },
      "post" : {
        "operationId" : "capture_create_capture",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCaptureRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/mock" : {
      "get" : {
        "operationId" : "capture_mock_captures",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureListResponse"
                }
              }
            },
            "description" : "Capture list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Capture mock list",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/with_materials" : {
      "post" : {
        "operationId" : "capture_create_capture_with_materials",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCaptureWithMaterialsRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureWithMaterialsResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture With Materials",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}" : {
      "get" : {
        "operationId" : "capture_get_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_update_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateCaptureRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/check_materials_uploading" : {
      "put" : {
        "operationId" : "capture_check_materials_uploading",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureWithMaterialsResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Check capture materials uploading state",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/check_voxels_uploading" : {
      "put" : {
        "operationId" : "capture_check_voxels_uploading",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "$ref" : "#/components/responses/VoxelsResponse"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Check capture voxels uploading",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/clear_fields" : {
      "put" : {
        "operationId" : "capture_clear_fields",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Capture fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "thumbnail" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/entity_parameters" : {
      "get" : {
        "operationId" : "capture_get_entity_parameter",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityParameterListResponse"
                }
              }
            },
            "description" : "EntityParameter list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Capture EntityParameter list",
        "tags" : [ "Capture" ]
      },
      "post" : {
        "operationId" : "capture_create_entity_parameter",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateEntityParameterRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EntityParameterResponse"
                }
              }
            },
            "description" : "EntityParameter"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture EntityParameter",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/events" : {
      "post" : {
        "operationId" : "capture_create_event",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCustomEventRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventResponse"
                }
              }
            },
            "description" : "Resource"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture Event",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/invoke" : {
      "post" : {
        "description" : "invoke: https://cupixrnd.atlassian.net/browse/EINS-87 참조",
        "operationId" : "capture_invoke_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/InvokeCaptureRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Invoke Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/measure_ready" : {
      "delete" : {
        "operationId" : "capture_delete_measure_ready",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Delete Capture Measure Ready",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_measure_ready",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Capture Measure Ready",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/meta" : {
      "get" : {
        "operationId" : "capture_get_meta",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture Meta",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_update_meta",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateMetaRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Capture Meta",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/meta/{meta_key}" : {
      "get" : {
        "operationId" : "capture_get_meta_by_key",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Meta key",
          "explode" : false,
          "in" : "path",
          "name" : "meta_key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture Meta by key",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_update_meta_by_key",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Meta key",
          "explode" : false,
          "in" : "path",
          "name" : "meta_key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateMetaRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetaResponse"
                }
              }
            },
            "description" : "Meta information"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Capture Meta by key",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/publish" : {
      "delete" : {
        "operationId" : "capture_unpublish_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Unpublish Capture",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_publish_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Publish Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/purge" : {
      "delete" : {
        "operationId" : "capture_purge_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Purged"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Purge Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/request_pointcloud_download" : {
      "post" : {
        "description" : "Request an email to download dollhouses",
        "operationId" : "capture_get_request_pointcloud_download",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "request an email to download dollhouses",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/resources" : {
      "get" : {
        "operationId" : "capture_get_resources",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceListResponse"
                }
              }
            },
            "description" : "Resource list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture Resources",
        "tags" : [ "Capture" ]
      },
      "post" : {
        "operationId" : "capture_create_resource",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCaptureResourceRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceResponse"
                }
              }
            },
            "description" : "Resource"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture Resource",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/resources/{kind}" : {
      "delete" : {
        "operationId" : "capture_delete_resource",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Resource kind",
          "explode" : false,
          "in" : "path",
          "name" : "kind",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Delete Capture Resource",
        "tags" : [ "Capture" ]
      },
      "get" : {
        "operationId" : "capture_get_resource",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Resource kind",
          "explode" : false,
          "in" : "path",
          "name" : "kind",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceResponse"
                }
              }
            },
            "description" : "Resource"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture Resource",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/resources/{kind}/check_uploading" : {
      "put" : {
        "operationId" : "capture_check_resource_uploading",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Resource kind",
          "explode" : false,
          "in" : "path",
          "name" : "kind",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceResponse"
                }
              }
            },
            "description" : "Resource"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Check Capture Resource uploading",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/resources/{kind}/download" : {
      "get" : {
        "operationId" : "capture_download_resource",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Resource kind",
          "explode" : false,
          "in" : "path",
          "name" : "kind",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "302" : {
            "description" : "Redirect to resource download URL"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Download Capture Resource",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/resources/{kind}/upload_url" : {
      "post" : {
        "operationId" : "capture_create_resource_upload_url",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Resource kind",
          "explode" : false,
          "in" : "path",
          "name" : "kind",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
[...]
